@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@300;400;500;600&display=swap");
/* fonts */
/* 10px */
/* colors */
/* font */
/* font */
/* bg */
#hero .hero-contact .hero-btn-container #hero-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
}
#hero .hero-contact .hero-btn-container #hero-btn:hover {
  cursor: pointer;
}

.nav-bar {
  background: hsl(45deg, 93%, 52%);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  transform: translateY(-250%);
  transition: transform 500ms ease-in-out;
}
@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 2.5rem;
    padding: 0;
    position: unset;
    min-height: unset;
    transform: translate(0%);
    transition: transform 0ms ease-in-out;
    background: transparent;
  }
}
.nav-bar .menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2.5rem;
  width: 100%;
  padding: 5rem 0 0 10rem;
  text-align: left;
}
@media (min-width: 768px) {
  .nav-bar .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 2.5rem;
    padding: 0;
  }
}
.nav-bar .menu .menu-item {
  list-style-type: none;
  position: relative;
}
.nav-bar .menu .menu-item::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid hsl(212deg, 29%, 13%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
.nav-bar .menu .menu-item:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.nav-bar .menu .menu-item.active::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.nav-bar .menu .menu-item a {
  font-size: 2rem;
  text-decoration: none;
  color: hsl(212deg, 29%, 13%);
  font-weight: 600;
}

#burger-checkbox:checked ~ .nav-bar {
  transform: translateY(0%);
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  padding: 0.1rem;
  background: transparent;
  transition: all 300ms ease-in-out;
  z-index: 99;
}
.hamburger .line {
  width: 4rem;
  border: 0.2rem solid hsl(212deg, 29%, 13%);
  background: hsl(212deg, 29%, 13%);
  transition: all 500ms ease-in-out;
}
.hamburger:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#burger-checkbox {
  display: none;
  position: absolute;
  visibility: hidden;
}

#burger-checkbox:checked ~ .hamburger > .line-top {
  width: 2.8rem;
  transform: rotate(45deg);
  transform-origin: left top;
}

#burger-checkbox:checked ~ .hamburger > .line-inner {
  visibility: hidden;
  transition: all 250ms ease-in-out;
}

#burger-checkbox:checked ~ .hamburger > .line-bottom {
  width: 2.8rem;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
#my-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  max-width: 144rem;
  padding: 2rem;
  width: 100%;
  background: hsl(45deg, 93%, 52%);
  transition: all 300ms ease-in;
  z-index: 90;
}
#my-header.active {
  position: fixed;
  top: 0;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}
@media (min-width: 1201px) {
  #my-header {
    padding: 2rem 6rem;
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}

#sliders {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#sliders .slide {
  width: 100%;
  height: 30rem;
  position: absolute;
  top: 0;
  transition: all 1s ease-in-out;
}
@media (min-width: 768px) {
  #sliders .slide {
    height: 40rem;
  }
}
@media (min-width: 992px) {
  #sliders .slide {
    min-height: 60vh;
  }
}
@media (min-width: 1201px) {
  #sliders .slide {
    min-height: 100vh;
  }
}
#sliders .slide:nth-child(1) {
  transform: translateX(0%);
}
#sliders .slide:nth-child(2) {
  transform: translateX(100%);
}
#sliders .slide:nth-child(3) {
  transform: translateX(200%);
}
#sliders .slide img {
  width: 100%;
  height: 100%;
  position: relative;
}
#sliders .slide::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
#sliders .btn {
  position: absolute;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border: none;
  border-radius: 50%;
  background-color: hsl(180deg, 8%, 97%);
  font-size: 2rem;
  color: hsl(212deg, 29%, 13%);
}
#sliders .btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
#sliders .btn:active {
  transform: scale(1.1);
}
#sliders .btn.btn-prev {
  top: 45%;
  left: 0;
  z-index: 5;
}
#sliders .btn.btn-next {
  top: 45%;
  right: 0;
  z-index: 5;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  height: 30rem;
  position: relative;
}
@media (min-width: 768px) {
  #hero {
    height: 40rem;
  }
}
@media (min-width: 992px) {
  #hero {
    min-height: 60vh;
  }
}
@media (min-width: 1201px) {
  #hero {
    min-height: 100vh;
  }
}
#hero h2 {
  text-align: center;
  font-size: 4rem;
  color: hsl(180deg, 8%, 97%);
  position: absolute;
  z-index: 2;
}
@media (min-width: 768px) {
  #hero h2 {
    font-size: 7rem;
    padding: 0 4rem;
  }
}
#hero .hero-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  width: 100%;
  background: hsl(204deg, 68%, 30%);
  padding: 1rem 0;
}
#hero .hero-contact .query-text {
  position: relative;
  width: 100%;
  z-index: 1;
}
#hero .hero-contact .query-text span {
  padding-left: 1rem;
  display: block;
  font-weight: 600;
}
#hero .hero-contact .query-text::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: -1;
  border-right: 5rem solid transparent;
  border-bottom: 7rem solid hsl(45deg, 93%, 52%);
}
#hero .hero-contact .call-text {
  width: 100%;
  color: hsl(180deg, 8%, 97%);
  text-align: center;
}
#hero .hero-contact .hero-btn-container {
  text-align: center;
  padding-right: 2rem;
}
@media (min-width: 768px) {
  #hero .hero-contact .hero-btn-container {
    width: 100%;
  }
}
#hero .hero-contact .hero-btn-container #hero-btn {
  padding: 1rem;
  background: hsl(45deg, 93%, 52%);
}

#my-main {
  width: 100%;
  max-width: 144rem;
  background: hsl(0deg, 0%, 90%);
  min-height: 100vh;
}

#my-footer {
  width: 100%;
  max-width: 144rem;
  background: hsl(0deg, 0%, 90%);
  min-height: 100vh;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all 500ms ease-in-out;
}

body {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: hsl(212deg, 29%, 13%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  min-width: 32rem;
  background: hsl(0deg, 0%, 90%);
  max-width: 144rem;
  margin: 0 auto;
}

::selection {
  color: none;
  background: none;
}

/*# sourceMappingURL=styles.css.map */
