// @import "../components/logo";

@import "../components/navs";

@import "../components/hamburger";

#my-header {
   @include flexBox(row, center, space-between, 0);
   max-width: 144rem;
   padding: 2rem;
   width: 100%;
   background: $moon-yellow;
   transition: all 300ms ease-in;
   z-index: 90;

   &.active {
      position: fixed;
      top: 0;
      box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
   }

   @media (min-width: 1201px) {
      padding: 2rem 6rem;
   }
}

.nav-bar {
   @include flexBox(row, start, space-between, 0);
   width: 100%;
}
