@import "./sections/hero";

@import "./sections/offers-quote";

#my-main {
   @include flexBox(column, center, center, 4rem);
   width: 100%;
   max-width: 144rem;
   background: $whisper;
   min-height: 100vh;
}
