.my-main {
   background: $lochmara;
   width: 100%;
   min-width: 35rem;
}

#service-offers,
#rates {
   @include flexBox(column, center, center, 0rem);
   margin-top: 9rem;
   min-width: 35rem;
   width: 100%;

   & .services-title,

   & .miscellaneous {
      @include flexBox(column, center, center, 1rem);
      padding: 2rem;
      width: 100%;

      & div {
         padding: 0 2rem;

         @media (min-width: 768px) {
            padding: 0rem 4rem;
         }
      }

      & ol {
         padding: 2rem;

         @media (min-width: 768px) {
            padding: 2rem 4rem;
         }
      }
   }
}

.services-container,
.rates-container {
   @include flexBox(column, center, center, 6rem);
   width: 100%;
   padding: 4rem 2rem;
   font-size: 1rem;

   @media (min-width: 768px) {
      padding: 4rem;
      font-size: 1.4rem;
   }

   & .warehouse-container,
   & .office-container,
   & .storage-racks-container,
   & .cold-storage-container,
   & .refrigerated-van-container,
   & .special-storage-container,
   & .vehicle-area-container,
   & .basic-rate-container,
   & .special-cargo-container,
   & .service-charge-container,
   & .deconsolidation-fee-container,
   & .return-fee-container {
      @include flexBox(column, center, center, 1rem);
      align-items: center;
      justify-content: center;
      width: 100%;

      & h2 {
         text-align: center;
         width: 100%;
         color: hsl(45deg, 93%, 50%);
         font-size: 5rem;
         text-shadow: 1px 2px 3px rgb(0, 0, 0);
      }

      & h3 {
         text-align: center;
         width: 100%;
         color: white;
         font-size: 4rem;
      }

      & ul {
         list-style-type: none;
      }
   }

   & .warehouse,
   & .office {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      text-align: center;
      width: 100%;
      align-items: center;
      justify-content: center;
   }

   & .storage-racks,
   & .cold-storage,
   & .refrigerated-van,
   & .special-storage-fee,
   & .vehicle-area,
   & .basic-rate,
   & .special-cargo,
   & .service-charge,
   & .deconsolidation-fee,
   & .return-fee {
      display: flex;
      text-align: center;
      width: 100%;
      justify-content: center;
   }

   & .storage-units-main,
   & .cold-storage-type {
      display: block;
      align-items: center;
      width: 100%;
      background: rgba(16, 33, 64, 1);
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 25px;
      height: 150px;
      border-radius: 30px;
   }

   & .storage-racks-container-row {
      margin: 30px;
      justify-content: center;
      align-items: center;
   }

   & .storage-units-info {
      width: 100%;
      background: rgba(16, 33, 64, 0.65);
      padding: 20px;
      margin-top: 10px;
      border-radius: 30px;
      height: 100px;
      text-align: center;

      & li {
         font-size: 1.75rem;
      }
   }
   & .basic-flex {
      display:flex;
   }
   
   & .gen-cargo,
   & .from,
   & .to {
      width: 100%;
      background: rgba(16, 33, 64, 1);
      padding: auto;
      margin: 10px;
      height: 100%;
      border-radius: 30px;
      text-align: center;
      white-space: nowrap;
      overflow: visible;

      h4 {
         padding-top: 15px;
         padding-bottom: 15px;
         margin-left: 50px;
         margin-right: 50px;
         font-size: 2.5rem;
      }
   }
   & .gen-cargo-type {
      width: 100%;
      background: rgb(64, 91, 141);
      padding: 20px;
      margin: 10px;
      border-radius: 30px;
      text-align: center;

      h5 {
         font-size: 2rem;
         
      }
      
   }
   & .rate-range {
      width: 100%;
      background: rgb(64, 91, 141);
      padding: 25px;
      margin-right:15px;
      margin-left: 15px;
      margin-top: 12px;
      gap: 10px;
      border-radius: 20px;
      text-align: center;
   }
   & .rate-range {
      width: 100%;
      background: rgb(64, 91, 141);
      padding: 25px;
      margin-right:15px;
      margin-left: 15px;
      margin-top: 12px;
      gap: 10px;
      border-radius: 20px;
      text-align: center;
}
   & .rate-container {
      width: 100%;
      background: rgba(16, 33, 64, 1);
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
      padding-top: 20px;
      margin: 10px;
      height: 100%;
      border-radius: 30px;
      text-align: center;
      white-space: nowrap;
      overflow: visible;
      display: flex;
      justify-content: start;
   }
}



.border {
   height: 6rem;
   padding: 1rem;
   border: 1px solid $azure;

   @media (min-width: 768px) {
      height: 5rem;
   }
}

.cols-1 {
   grid-column: 1 / span 2;
}

.cols-2 {
   grid-column: 3 / span 2;
}

.cols-3 {
   grid-column: 5 / span 2;
}

.cols-4 {
   grid-column: 7 / span 2;
}

.cols-5 {
   grid-column: 9 / span 2;
}

.cols-6 {
   grid-column: 11 / span 2;
}
